<!DOCTYPE html>
<head>
  <% include layout.ejs %>
</head>
<body>
<div class="grid-example col s12 m6">
<p>문의 메일이 전송되었습니다</p>
<button type="button" onclick="location.href='/ask'">확인</button>
</div>
</body>
</html>
