<!DOCTYPE html>
<head>
    <% include layout.ejs %>
</head>
<body>
      <div class="alert alert-scarlet" role="alert">
      공지사항을 확인하세요!
    </div>
    <div class="navbar navbar-success" role="alert">
     <p class="text-muted">구매물품관리</p></p>
     </div>
     <div class="container">
        <hr>
        <li><a href="/home/purchase.html" bg-nclick="hmp*r.list" target="_blank" class="text_news">
                           댓글내용예시:구매하고싶습니다.
                        </a><span class="text_datetime"></span></li>
        <li><a href="/home/purchase.html" bg-nclick="hmp*r.list" target="_blank" class="text_news">
                           댓글내용예시:더 싸게 가능할까요?
                           </a><span class="text_datetime"></span></li>
    <!--참고!!!!!!!!!!!! 링크 둘다purchase html링크로 넣었으니 데이터베이스로 사용자가 올린 게시글의 링크로 수정하시던지 하세요.-->
    
    </div>
    </body>
    </html>