<!DOCTYPE html>
<head>
  <% include layout.ejs %>
</head>
<body>
  <div class="alert alert-scarlet" role="alert">
  공지사항을 확인하세요!
</div>
<div class="navbar navbar-success" role="alert">
 <p class="text-muted">마이페이지</p>
 </div>
 <div class="container">
	<hr>
	<li><a href="#">판매물품관리</a></li>
    <li><a href="#">구매물품관리</a></li>


</div>
</body>
</html>

</body>
</html>
