<!DOCTYPE html>
<head>
  <% include layout.ejs %>
</head>
<body>
  <div class="alert alert-scarlet" role="alert">
    공지사항을 확인하세요!
  </div>
  <div class="navbar navbar-success" role="alert">
   <p class="text-muted">마이페이지</p>
   </div>
   <div class="container">
    <hr>
    <li><a href="/home/selllist.html">판매물품관리</a></li>
      <li><a href="/home/buylist.html">구매물품관리</a></li>
  <!--링크는 UI를 만든 html링크로 넣었으니 데이터베이스로 사용자가 올린 게시글의 링크로 수정하시던지 하세요.-->
  
  </div>
  </body>
  </html>
  
  </body>
  </html>