<!DOCTYPE html>
<head>
  <% include layout.ejs %>
</head>
<body>
<div class="grid-example col s12 m6">
<p>글이 삭제되었습니다</p>
<button type="button" onclick="location.href='/index'">확인</button>
</div>
</body>
</html>
