<!DOCTYPE html>
<head>
    <% include layout.ejs %>
</head>
<body>
<div class="alert alert-scarlet" role="alert">
    공지사항을 확인하세요!
  </div>
  <div class="navbar navbar-success" role="alert">
   <p class="text-muted">판매물품관리</p></p>
   </div>
   <div class="container">
      <hr>
      <li><a href="/home/purchase.html" bg-nclick="hmp*r.list" target="_blank" class="text_news">
                         <img src="eximage.jpg" alt="판매2">
                      </a>
                      <span class="text_datetime">남은시간</span></li>
      <li><a href="/home/purchase.html" bg-nclick="hmp*r.list" target="_blank" class="text_news">
                         <img src="eximage.jpg" alt="판매1"></a></li>
  <!--참고!!!!!!!!!!!! 링크 둘다purchase html링크로 넣었으니 데이터베이스로 사용자가 올린 게시글의 링크로 수정하시던지 하세요.-->
  
  </div>
  </body>
  </html>
  
  </body>
  </html>